/* Google Font CDN */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Default Styles */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Work Sans", sans-serif;
}

/* Main Styles Starts Here */
#hero {
    height: 615px;
    background-image: linear-gradient(0deg, #101010 -19.5%, rgba(16, 16, 16, 0.00) 100%), url("../images/hero-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: cover;
}